body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #000000;
}


a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


header {
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}

header h1 {
    margin: 0;
}

header p {
    color: #555555;
}


header ul {
    list-style-type: none;
    padding: 0;
}

header li {
    display: inline;
    margin-right: 15px;
}


main {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}


article {
    background-color:lightblue;
    padding: 20px;
    border: 1px solid lightcyan;
}


article h2 {
    margin-top: 0;
}


.summary {
    color: #555555;
    margin-bottom: 20px;
}


.content p {
    margin-bottom: 15px;
}


.takeaway {
    background-color: #eeeeee;
    padding: 15px;
    margin-top: 20px;
}

.takeaway h3 {
    margin-top: 0;
}


article footer {
    margin-top: 20px;
    border-top: 1px solid #aaf4db;
    padding-top: 10px;
}


.post-navigation {
    margin-top: 20px;
}

.post-navigation a {
    margin-right: 15px;
}


aside {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #cccccc;
}

aside ul {
    padding-left: 20px;
}


footer {
    background-color: #adb7f5;
    text-align: center;
    padding: 15px;
    border-top: 1px solid #ccfabd;
    color: #555555;
}
